.main-box {
  position: absolute;
  z-index: 200;
  border-radius: 5px;
  list-style: none;
  background: #3d3d3f;
  color: white;
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #0e0d0d;
  box-shadow: 1px 1px 4px -1px #ece5e5;
  height: 170px;
}
.list-class {
  margin-top: 5px;
  padding-left: 4px;
  margin-bottom: 10px;
  list-style: none;
}
.list-title {
  cursor: pointer;
  padding: 2px;
  margin-bottom: 1px;
}
hr {
  font-size: 15px;
  font-weight: 300;
  color: inherit;
  opacity: 0.25;
  margin: 0px;
  border: 0;
  border-top: var(--bs-border-width) solid;
}
